<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JewelryShop</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JewelryShop.styles.css" asp-append-version="true" />*@

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" 
    rel="stylesheet"/>

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/Source/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/Source/fonts/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/style.css" type="text/css"/>

</head>
<body>


    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
@*            <input type="text" placeholder="Type to search">
*@@*            <li><span class="fa fa-search search-switch"></span></li>
*@            <li>
                <a href="#">
                    <span class="fa fa-user-o"></span>
                    <div class="tip">2</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-shopping-cart"></span>
                    <div class="tip">2</div>
                </a>
            </li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="/Source/img/luminique.svg" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="/Source/img/luminique.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Trang chủ</a></li>
                            <li>
                                <a href="/san-pham/nhan-bac">Nhẫn bạc</a>
                                <ul class="dropdown">
                                    <li><a asp-action="IndexAsyncNhanBac" asp-controller="Product" asp-route-sub="Nhẫn nữ">Nhẫn nữ</a></li>
                                    <li><a asp-action="IndexAsyncNhanBac" asp-controller="Product" asp-route-sub="Nhẫn nam">Nhẫn nam</a></li>
                                    <li><a asp-action="IndexAsyncNhanBac" asp-controller="Product" asp-route-sub="Nhẫn đôi">Nhẫn đôi</a></li>
                                </ul>
                            </li>
                            <li><a href="/san-pham/day-chuyen">Dây chuyền</a></li>
                            <li>
                                <a href="/san-pham/vong-bac">Vòng bạc</a>
                                <ul class="dropdown">
                                    <li><a asp-action="IndexAsyncVongBac" asp-controller="Product" asp-route-sub="Vòng tay">Vòng - Lắc tay</a></li>
                                    <li><a asp-action="IndexAsyncVongBac" asp-controller="Product" asp-route-sub="Vòng chân"> Vòng - Lắc chân</a></li>
                                </ul>
                            </li>                            
                            <li>
                                <a href="/san-pham/khuyen-bac">Khuyên bạc</a>
                                <ul class="dropdown">
                                    <li><a asp-action="IndexAsyncKhuyenBac" asp-controller="Product" asp-route-sub="Khuyên tai">Khuyên tai</a></li>
                                    <li><a asp-action="IndexAsyncKhuyenBac" asp-controller="Product" asp-route-sub="Khuyên vị trí khác">Khuyên vị trí khác</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="header__right">
                        <div class="header__right__search">
                            <i class="fa fa-search icon">
                            </i>
                            <input class="input-field" type="text" placeholder="Tìm kiếm">
                        </div>
                        <ul class="header__right__widget ">
@*                            <li><span class="fa fa-search search-switch"></span></li>
*@                            <li>
                                <a href="#">
                                    <span class="fa fa-user-o"></span>
                                    <div class="tip">2</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-shopping-cart"></span>
                                    <div class="tip">2</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

   

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here...">
            </form>
        </div>
    </div>
    <!-- Search End -->


    <main role="main" class="pb-3">
        @RenderBody()
    </main>



    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><img src="/Source/img/luminique.svg" alt=""></a>
                        </div>
                        <span>Cửa hàng trang sức Luminique</span>
                        <p>
                            Địa chỉ: 279 Nguyễn Tri Phương, Phường 5, Quận 10, TP.HCM
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Thông tin chung</h6>
                        <ul>
                            <li><a href="#">Về cửa hàng</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Dịch vụ</h6>
                        <ul>
                            <li><a href="#">Chính sách giao hàng</a></li>
                            <li><a href="#">Chính sách trả hàng & hoàn tiền</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-8 col-sm-8">
                        <div class="footer__social">
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright__text">
                        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Js Plugins -->
    <script src="~/Source/js/jquery-3.3.1.min.js"></script>
    <script src="~/Source/js/bootstrap.min.js"></script>
    <script src="~/Source/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Source/js/jquery-ui.min.js"></script>
    <script src="~/Source/js/mixitup.min.js"></script>
    <script src="~/Source/js/jquery.countdown.min.js"></script>
    <script src="~/Source/js/jquery.slicknav.js"></script>
    <script src="~/Source/js/owl.carousel.min.js"></script>
    <script src="~/Source/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>



</html>
