<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JewelryShop</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JewelryShop.styles.css" asp-append-version="true" />*@

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" 
    rel="stylesheet"/>

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/Source/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/style.css" type="text/css"/>


</head>
<body>


    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/Home"><img src="/Source/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="#">Men’s</a></li>
                            <li><a href="/nhan-bac">Shop</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a href="#">Login</a>
                            <a href="#">Register</a>
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li>
                                <a href="#">
                                    <span class="icon_heart_alt"></span>
                                    <div class="tip">2</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon_bag_alt"></span>
                                    <div class="tip">2</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - JewelryShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Js Plugins -->
    <script src="~/Source/js/jquery-3.3.1.min.js"></script>
    <script src="~/Source/js/bootstrap.min.js"></script>
    <script src="~/Source/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Source/js/jquery-ui.min.js"></script>
    <script src="~/Source/js/mixitup.min.js"></script>
    <script src="~/Source/js/jquery.countdown.min.js"></script>
    <script src="~/Source/js/jquery.slicknav.js"></script>
    <script src="~/Source/js/owl.carousel.min.js"></script>
    <script src="~/Source/js/jquery.nicescroll.min.js"></script>
    <script src="~/Source/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>



</html>
