@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Đặt hàng thành công";
}
<div class="order__noti set-bg">
    <h5>Đặt hàng thành công!</h5>
@*    <h6>Bấm vào <a href="/">đây</a> để tiếp tục mua sắm</h6>
*@</div>


<style>
    .order__noti{
        background-color: rgba(250, 234, 234, 1);
        height: 80px;
        margin-bottom: 100px;

    }
    .order__noti h5{
            margin: 120px auto;
            color: #111111;
            font-size: 20px;
            font-weight: 300;
            text-align: center;
            padding-top: 30px;
    }
    .order__noti h6{
            color: #111111;
            font-size: 18px;
            font-weight: 280;
            text-align: center;
    }
    .order__noti a {
            color: #111111;
            text-decoration: revert;
    }
</style>

