@using JewelryShop.Application.Contracts
@model List<CartViewModel>
@{
    ViewData["Title"] = "Liên hệ";
    
}
<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng cộng</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                           
                                @foreach (var e in Model)
                                {
                                <tr>
                                    <td class="cart__product__item">
                                        <img style="width: 70px; height: 70px;" src="/Source/img/product/@e.Product.Image"/>

                                        <div class="cart__product__item__title">
                                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@e.Product.Id"> <h6>@e.Product.Name</h6></a>
                                        </div>
                                    </td>
                                    <td class="cart__price">@e.Product.Price đ</td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="@e.count">
                                        </div>
                                    </td>
                                    <td class="cart__total">$ 300.0</td>
                                    <td class="cart__close"><span class="icon_close"></span></td>
                                </tr>

                                }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="/">Tiếp tục mua sắm</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="#"><span class="icon_loading"></span>Cập nhật</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="discount__content">

                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Tổng thanh toán</h6>
                    <ul>
@*                        <li>Subtotal <span>$ 750.0</span></li>
*@                        <li>Số lượng <span>4</span></li>
                          <li>Tạm tính <span>$ 750.0</span></li>
                    </ul>
                    <a href="/dat-hang" class="primary-btn">Tiếp tục</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->
